.explore_hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem 1rem 10rem;
    margin: 3rem 10rem 3rem 10rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,98,121,1) 56%, rgba(0,212,255,1) 100%);
    border-radius: 25px;
    
}

.explore_hero:hover{
    transform: scale(1.06);
    transition: 0.4s ease-in-out;
}
.explore_hero:not(:hover){
    transition: 0.4s ease-in-out;
}

.hero_data{
    flex:1;
    color: whitesmoke;
    font-size: 1.3vw;
    font-weight: 600;
}
.hero_buttons{
    display: flex;
    align-items: center;
}

.hero_buttons>button{
    background: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
    border-radius: 10px;
    color: #fff;
    /* padding: 0.5rem 1rem; */
    font-family: var(--font-family);
    font-weight: 500;
    border: none;
    font-size: 16px;
    /* margin: 2px; */
}

.hero_img{
    display: flex;
    justify-content: right;
    align-items: center;
    flex:1;
}

.hero_img>img{
    max-width: 80%; 
    display: block; 
    height: auto;
    
}
